  
<div class="wrapper">
  <main class="main">
      <div class="main__container">
        <div class="main__header">
          <h1 class="main__title">
            <span class="main__title-custom">Виноградник</span> церковь
          </h1>
          <ul class="social__media-icons">
            <li>
              <a href="Tel:+79135302209">
                <i class="material-icons">call</i>
              </a>
            </li>
            <li>
              <a href="mailto:vinogradnikchurch@gmail.com">
                <i class="material-icons">mail</i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@user-be3qy1xt8h/videos">
                <i class="material-icons">video_library</i>
              </a>
            </li>
          </ul>
        </div>
        <section class="resources__section resources">
          <h2 class="resources__title _anim-items _anim-no-hide">Ресурсы</h2>
          <div class="resources__image _anim-items _anim-no-hide">
            <img src="/uploads/theology.jpeg" alt="vineyards">
          </div>
          <h3 class="resources__subtitle _anim-items _anim-no-hide">Теология Виноградника</h3>
          <table class="resources__table-theology table-theology striped highlight responsive-table _anim-items _anim-no-hide">
            <thead>
              <tr>
                  <th class="table-theology__th">№</th>
                  <th class="table-theology__th">Название</th>
                  <th class="table-theology__th">Ссылка</th>
              </tr>
            </thead>
        
            <tbody>
              <tr>
                <td>1</td>
                <td>Богословие и философия Виноградника</td>
                <td><a href="/uploads/theology/01.pdf" target="_blank" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Джон Уибмер - Важность малых групп в церкви</td>
                <td><a href="/uploads/theology/02.pdf" target="_blank" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Джон Уибмер, Кевин Спрингер - Благовестие в силе Святого Духа</td>
                <td><a href="/uploads/theology/03.pdf" target="_blank" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Джон Уибмер - Царство милости</td>
                <td><a href="/uploads/theology/04.pdf" target="_blank" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Джон Уибмер, Кевин Спрингер - Исцеление силой Святого Духа</td>
                <td><a href="/uploads/theology/05.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Джон Уибмер, Кевин Спрингер - Исцеление силой Святого Духа. Пособие по изучению</td>
                <td><a href="/uploads/theology/06.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>7</td>
                <td>Джон Уибмер - Царство Жизни</td>
                <td><a href="/uploads/theology/07.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>8</td>
                <td>Джон Уибмер - Служение Иисуса и миссия церкви</td>
                <td><a href="/uploads/theology/08.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>9</td>
                <td>Джон Уибмер, Кевин Спрингер - Моменты силы</td>
                <td><a href="/uploads/theology/09.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>10</td>
                <td>Александр Вентер - Творить дела Церкви. Строительство церкви снизу вверх</td>
                <td><a href="/uploads/theology/10.pdf" class="table__link">Читать</a></td>
              </tr>
            </tbody>
          </table>
          <h3 class="resources__subtitle _anim-items _anim-no-hide">Ресурсы для духовного роста и служения</h3>
          <table class="resources__table-resources table-resources striped highlight responsive-table _anim-items _anim-no-hide">
            <thead>
              <tr>
                  <th class="table-theology__th">№</th>
                  <th class="table-theology__th">Название</th>
                  <th class="table-theology__th">Ссылка</th>
              </tr>
            </thead>
        
            <tbody>
              <tr>
                <td>1</td>
                <td>Кевин Леман, Уильям Пентак - Тропа пастыря</td>
                <td><a href="/uploads/theology/01.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Гери Чепмен - Пять языков любви</td>
                <td><a href="/uploads/theology/02.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Гери Чепмен - Пять языков любви для мужчин</td>
                <td><a href="/uploads/theology/03.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Макс Лукадо - Бесстрашные</td>
                <td><a href="/uploads/theology/04.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Генри Клауд, Джон Таунсенд - Барьеры</td>
                <td><a href="/uploads/theology/05.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Генри Клауд, Джон Таунсенд - Искусство трудного разговора. Прикладная конфликтология</td>
                <td><a href="/uploads/theology/06.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>7</td>
                <td>Гордон Д. Фи, Дуглас Стюарт - Как читать Библию и видеть всю ее ценность</td>
                <td><a href="/uploads/theology/07.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>8</td>
                <td>Ричард Фостер - Прославление дисциплины</td>
                <td><a href="/uploads/theology/08.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>9</td>
                <td>Клайв Стейплз Льюис - Просто христианство</td>
                <td><a href="/uploads/theology/09.pdf" class="table__link">Читать</a></td>
              </tr>
              <tr>
                <td>10</td>
                <td>Джон Мак-Артур- Свобода и сила прощения</td>
                <td><a href="/uploads/theology/10.pdf" class="table__link">Читать</a></td>
              </tr>
            </tbody>
          </table>
          <div class="resources__recommendation recommendation">
            <h4 class="recommendation__title">Рекомендации</h4>
            <div class="recommendation__text">
              <p>Все информационные материалы представлены в формате pdf и доступны к скачиванию и прочтению.<p>
              <p>Материалы данного раздела не предназначены для коммерческого использования.<p>
            </div>
          </div>
        </section>
      </div>
  </main>
  <app-navbar
    class="sidebar"
  ></app-navbar>
</div>
