<section class="became-chistian__section became-chistian" id="christian">
  <h2 class="became-chistian__title title-header">Я только что стал христианином.. Что мне теперь делать?</h2>
  <div class="became-chistian__image">
    <img src="/uploads/became-christian/01.jpeg" alt="image">
  </div>
  <div class="became-chistian__info">
    <p>
      Если Вы отдали свою жизнь Христу и пригласили Его в свое сердце, то Вы теперь христианин. Иисус называет это «рождением свыше».
    </p>
    <div class="became-chistian__quote">
      <p>
        «Иисус сказал ему в ответ: истинно, истинно говорю тебе, если кто не родится свыше, не может увидеть Царствия Божия»
        <span class="quote-important">Евангелие от Иоанна 3:3</span>
      </p>
    </div>
    <p>
      Павел говорит, что стать христианином – это значит начать новую жизнь.
    </p>
    <div class="became-chistian__quote">
      <p>
        «Итак, кто во Христе, тот новая тварь; древнее прошло, теперь все новое»
        <span class="quote-important">Второе послание к коринфянам 5:17</span>
      </p>
    </div>
    <p>
      Вот несколько советов, которые помогут Вам расти в Вашей вере:
    </p>
  </div>
  <div class="became-chistian__items">
    <div class="became-chistian__item item-became-christian">
      <h3 class="item-became-christian__title">1. Читайте Библию каждый день</h3>
      <div class="item-became-christian__text">
        <p>
          Библия – это Божье Слово. Бог автор этого слова. Это основной способ общения Бога с нами. Читая Библию, мы узнаем больше о Нем, о том, что Он сделал для нас и о Его плане для нас. В ней Вы также найдете утешение в трудные времена и ответы на Ваши проблемы. Нам необходимо читать Библию каждый день для того, что жить и расти как христианам. Лучше всего начать читать биографию Иисуса, которая называется Евангелия. Это четыре первые книги Нового Завета.
        </p>
      </div>
      <div class="item-became-christian__quote">
        <p>
          «Он же сказал ему в ответ: написано: не хлебом одним будет жить человек, но всяким словом, исходящим из уст Божиих»
          <span class="quote-important">Евангелие от Матфея 4:4</span>
        </p>
      </div>
    </div>
    <div class="became-chistian__item item-became-christian">
      <h3 class="item-became-christian__title">2. Проводите время в молитве каждый день</h3>
      <div class="item-became-christian__text">
        <p>
          Молитвы – это разговор с Богом. Простая формула, которой Вы можете последовать – восхищение, исповедание, благодарение и прошение.
        </p>
        <p>
          Когда Вы молитесь, убедитесь в том, что Вы хвалите Бога за то, кем Он является; честно исповедуете свои грехи Ему; благодарите Его за то, что Он сделал для Вас, и просите Его о том, в чем Вы нуждаетесь. Будьте открыты в молитве для Бога, чтобы Он мог сказать Вам то, что Он желает или принести изменения в Вашу жизнь.
        </p>
      </div>
      <div class="item-became-christian__quote">
        <p>
          «…не имеете, потому что не просите»
          <span class="quote-important">Послание Иакова 4:2 </span>
        </p>
        <p>
          «Я радуюсь, что Господь услышал голос мой, моление мое; приклонил ко мне ухо Свое, и потому буду призывать Его во все дни мои»
          <span class="quote-important">Псалом 114:1-2</span>
        </p>
      </div>
    </div>
  </div>
  <div class="became-chistian__items">
    <div class="became-chistian__item item-became-christian">
      <h3 class="item-became-christian__title">3. Находитесь в духовном общении</h3>
      <div class="item-became-christian__text">
        <p>
          Это значит поддерживать близкие отношения с другими христианами. В «Винограднике» мы верим, что верующие могут быть в общении регулярно, посещая воскресные служения и присоединяясь к домашней группе. Будучи молодым христианином, Вы можете присоединиться к домашней группе. Эти группы помогут Вам расти во взаимоотношениях со Христом. Моделью этих групп служит модель Иисуса и Его учеников. Он не только учил Своих учеников, но и проводил время с ними, показывая, как жить для Бога.
        </p>
      </div>
      <div class="item-became-christian__quote">
        <p>
          «По тому узнают все, что вы Мои ученики, если будете иметь любовь между собою»
          <span class="quote-important">Евангелие от Иоанна 13:35</span>
        </p>
        <p>
          «И они постоянно пребывали в учении Апостолов, в общении и преломлении хлеба и в молитвах. Был же страх на всякой душе; и много чудес и знамений совершилось через Апостолов в Иерусалиме. Все же верующие были вместе и имели все общее. И продавали имения и всякую собственность, и разделяли всем, смотря по нужде каждого. И каждый день единодушно пребывали в храме и, преломляя по домам хлеб, принимали пищу в веселии и простоте сердца, хваля Бога и находясь в любви у всего народа. Господь же ежедневно прилагал спасаемых к Церкви»
          <span class="quote-important">Деяния 2:42-47</span>
        </p>
      </div>
    </div>
    <div class="became-chistian__item item-became-christian">
      <h3 class="item-became-christian__title">4. Делитесь об Иисусе с другими</h3>
      <div class="item-became-christian__text">
        <p>
          Как христианин, Вы призваны быть свидетелем Христа. Это значит, что Вам нужно говорить другим о том, что Господь сделал для Вас. Вам не нужно быть для этого богословом или знать все ответы на вопросы. Один из самых эффективных способов, чтобы помочь другим найти Иисуса – это поделиться Вашим свидетельством (историей того, как Вы пришли ко Христу). Это служит преимуществом и для Вас самих. Когда мы делимся, наша история помогает нам понять, во что мы верим и почему, и помогает нам принимать участие в плане, который есть у Бога для всего мира.
        </p>
      </div>
      <div class="item-became-christian__quote">
        <p>
          «…не имеете, потому что не просите»
          Послание Иакова 4:2 «Господа Бога святите в сердцах ваших; [будьте] всегда готовы всякому, требующему у вас отчета в вашем уповании, дать ответ с кротостью и благоговением»
          <span class="quote-important">(Первое послание Петра 3:15)</span>   
        </p>
        <p>
          «…дабы общение веры твоей оказалось деятельным в познании всякого у вас добра во Христе Иисусе»
          <span class="quote-important">Послание к Филимону 1:6</span>
        </p>
        <p>
          «Итак мы — посланники от имени Христова, и как бы Сам Бог увещевает через нас; от имени Христова просим: примиритесь с Богом»
          <span class="quote-important">Второе послание к коринфянам 5:20</span>
        </p>
      </div>
    </div>
  </div>
</section>