.card {
	border-radius: 10px;
	opacity: 0;
	transition: all 1s ease 0s;
}
.card._active {
	opacity: 1;
	transition: all 1s ease 0.4s;
}
.feedback__section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.feedback__title {
	font-size: 30px;
	margin-bottom: 25px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
	color: var(--main-font-color);
}

.card-content {
	padding: 5px;
	font-size: 17px;
	color: var(--color-grey-light)
}

@media (max-width: 1420px) {
  .feedback__title {
    font-size: 18px;
  }
}

@media (max-width: 420px) {
  .card__input,
	.card__btn {
    font-size: 12px;
  }
}
