<nav style="background-color: #AFC97E;" class="navbar"> 
    <div class="nav-wrapper" style="background-color: #AFC97E;">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/">Главная</a></li>
            <li><a routerLink="/" (click)="toDistance(350)">Информация</a></li>
            <li><a routerLink="/" (click)="toDistance(1350)">Проповеди</a></li>
            <li><a routerLink="/feedback">Написать нам</a></li>
        </ul>
        <ul id="slide-out" class="sidenav" #sidenav>
            <li><a routerLink="/" class="waves-effect sidenav-close" (click)="toDistance(0)">
                <i class="material-icons">home</i>Главная</a>
            </li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect sidenav-close" routerLink="/" (click)="toDistance(350)">
                <i class="material-icons">dvr</i>Информация</a>
            </li>
            <li><a class="waves-effect sidenav-close" routerLink="/" (click)="toDistance(1350)">
                <i class="material-icons">video_library</i>Проповеди</a>
            </li>
            <li><a class="waves-effect sidenav-close" routerLink="/feedback">
                <i class="material-icons">forum</i>Написать нам</a>
            </li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-med-and-up">
            <i class="material-icons">menu</i>
        </a>
    </div>
 </nav>