<nav class="navbar"> 
    <div class="nav-wrapper">
        <ul id="slide-out" class="sidenav sidenav-fixed" #sidenav>
            <div class="sidenav__links">
                <h2 class="sidenav__header title-header">Меню</h2>
                <li class="sidenav__item">
                    <a
                        routerLink="/"
                        class="waves-effect sidenav-close sidenav__link"
                        (click)="toDistance(0)"
                    >   
                        Главная
                    </a>
                </li>
                <ul class="collapsible expandable" #faith>
                    <li class="sidenav__item">
                        <div class="collapsible-header sidenav__link dropdown__link">
                            Во что мы верим
                            <i class="material-icons">arrow_drop_down</i>
                        </div>

                        <div class="collapsible-body">
                            <li><a routerLink="/creed" class="sidenav__link sidenav__sublink" (click)="toDistance(0)">Символ веры</a></li>
                            <li><a routerLink="/our-values" class="sidenav__link sidenav__sublink" (click)="toDistance(0)">Наши ценности</a></li>
                        </div>
                    </li>
                </ul>

                <li class="sidenav__item">
                    <a
                        class="waves-effect sidenav-close sidenav__link"
                        routerLink="/history"
                        (click)="toDistance(0)"
                    >
                        Кто мы
                    </a>
                </li>
                <!-- <li class="sidenav__item">
                    <a
                        class="waves-effect sidenav-close sidenav__link"
                        routerLink="/ministries"
                        (click)="toDistance(0)"
                    >
                        Служения
                    </a>
                </li> -->

                <ul class="collapsible expandable" #resources>
                    <li class="sidenav__item">
                        <div class="collapsible-header sidenav__link dropdown__link">
                            Ресурсы
                            <i class="material-icons">arrow_drop_down</i>
                        </div>

                        <div class="collapsible-body">
                            <li><a routerLink="/resources"class="sidenav__link sidenav__sublink" (click)="toDistance(0)">Теология Виноградника</a></li>
                            <li><a routerLink="/resources" class="sidenav__link sidenav__sublink" (click)="toDistance(300)">Ресурсы для духовного роста</a></li>
                        </div>
                    </li>
                </ul>
                
                <ul class="collapsible expandable" #collapsible>
                    <li class="sidenav__item">
                        <div class="collapsible-header sidenav__link dropdown__link">
                            Я здесь впервые
                            <i class="material-icons">arrow_drop_down</i>
                        </div>

                        <div class="collapsible-body">
                            <li><a routerLink="/introduction" class="sidenav__link sidenav__sublink dropdown__link" (click)="toDistance(0)">Библия. Во что мы верим?</a></li>
                            <li><a routerLink="/relationship" class="sidenav__link sidenav__sublink" (click)="toDistance(0)">Как мне начать отношения с Богом?</a></li>
                            <li><a routerLink="/expectation" class="sidenav__link sidenav__sublink" (click)="toDistance(0)">Чего ожидать в церкви?</a></li>
                            <li><a routerLink="/baptism" class="sidenav__link sidenav__sublink" (click)="toDistance(0)">Крещение</a></li>
                        </div>
                    </li>
                </ul>

                <li class="sidenav__item">
                    <a 
                        class="waves-effect sidenav-close sidenav__link"
                        routerLink="/feedback"
                    >
                        Написать нам
                    </a>
                </li>
            </div>
            <div class="sidenav__footer">
                <h2 class="sidenav__header title-header">Контакты</h2>
                <p class="sidenav__text">
                    Норильский «Виноградник» приглашает всех желающих посетить воскресные богослужения в 12.00 по местному времени.
                </p>
                <ul class="sidenav__contacts contacts">
                    <li class="contacts__item item-contact">
                        <a 
                            href="mailto:vinogradnikchurch@gmail.com"
                            class="item-contact__link"
                        >
                            <i class="material-icons contacts-icon">email</i>
                            vinogradnikchurch@gmail.com
                        </a>
                    </li>
                    <li>
                        <a                        
                            class="item-contact__link"
                            href="Tel:+79135302209"
                        >
                            <i class="material-icons contacts-icon">phone_iphone</i>
                            +7-913-530-22-09
                        </a>
                    </li>
                    <li>
                        <a
                            class="item-contact__link"
                            href="#"
                        >
                            <i class="material-icons contacts-icon">location_on</i>
                            г. Норильск, ул. Енисейская, 17
                        </a>
                    </li>
                </ul>
                <div class="sidenav__text sidenav__author">Разработка сайта:
                    <a href="https://t.me/liliia_kobzeva" class="copyright__link">@liliia_kobzeva</a>
                </div>

                <p class="sidenav__text sidenav__copyright">© Виноградник 2023</p>

            </div>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
            <i class="material-icons">menu</i>
        </a>

    </div>
</nav>