<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
            <h3 style="background-color: #877b6673; border-radius: 10px; font-weight: bold; font-family: 'ProximaNova-Black', arial, sans-serif;;" class="header col s12 light">
                Талнахская Христианская Церковь "Виноградник"
            </h3>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax" #parallax1><img src="/uploads/background1.jpg" alt="Unsplashed background img 1" style="filter: blur(3px);"></div>
</div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">date_range</i></h2>
            <h5 class="center" style="font-weight: bold;">Собрания</h5>

            <p class="center light">Каждое воскресенье</p>
            <p class="center light">Время: 12:00</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center" style="font-weight: bold;">Адрес</h5>

            <p class="center light">Талнах, ул. Енисейская 17</p>
            <p class="center light">Норильск, Россия</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">phone_iphone</i></h2>
            <h5 class="center" style="font-weight: bold;">Контакты</h5>
            <p class="center light">+7 913 530 22 09</p>
            <p class="center light">churchvinogradnik@gmail.com</p>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h6 class="center header col s12 light" style="font-weight: bold;"></h6>
        </div>
      </div>
    </div>
    <div class="parallax" #parallax2><img src="/uploads/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
          <div class="icon-block">
              <h2 class="center brown-text" style="margin: 0;"><i class="material-icons">video_library</i></h2>
              <h5 class="center" style="margin: 0 0 20px 0; font-weight: bold;">Проповеди</h5>
          </div>
      </div>
      <div class="col s12" style="margin-top: 20px;">
          <div class="video-container z-depth-3" style="border-radius: 10px;">
              <iframe src="//www.youtube.com/embed/uWLb1Inhj8o?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
      <div class="col s12" style="margin-top: 20px;">
        <div class="video-container z-depth-3" style="border-radius: 10px;">
            <iframe src="//www.youtube.com/embed/-MrvcQatrYY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12" style="margin-top: 20px;">
        <div class="video-container z-depth-3" style="border-radius: 10px;">
            <iframe src="//www.youtube.com/embed/DFVIe-2H8IA?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="video-container z-depth-3" style="border-radius: 10px;">
            <iframe src="//www.youtube.com/embed/8iZJfcyUugo?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div>
        <h6 class="center">
          <a href="https://www.youtube.com/channel/UCWxxa2khLOqHmhEp3P4E-Qw/featured" style="color: black;">Смотреть больше...
          </a>
        </h6>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h6 class="center header col s12 light type1" style="font-weight: bold;">
          Церковь - это семья. Каждый человек в Доме Божьем обретёт друзей, ощутит Любовь Отца и наполнится словом Божьим. Двери церкви всегда открыты - приходи, мы тебя ждем!
        </h6>
      </div>
    </div>
  </div>
  <div class="parallax" #parallax3><img src="/uploads/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer" style="background-color: #AFC97E;">
  <div class="container">
    <div class="row center">
      <h6 class="white-text">Талнахская Христианская Церковь "Виноградник"</h6>
      <a href="https://www.youtube.com/channel/UCWxxa2khLOqHmhEp3P4E-Qw/featured">
          <img src="/uploads/youtube-icon.svg" alt="youtube icon" style="height: 20px; transform: translate(0px, 2px);">
      </a>
    </div>
  </div>
  <div class="footer-copyright">
      <div class="container center">
        <p>© 2022 churchvinogradnik.com</p>
      </div>
  </div>
</footer>