<div class="wrapper">
  <main class="main">
      <div class="main__container">
        <div class="main__header">
          <h1 class="main__title">
            <span class="main__title-custom">Виноградник</span> семейная церковь
          </h1>
          <ul class="social__media-icons">
            <li>
              <a href="">
                <i class="material-icons">call</i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons">mail</i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons">video_library</i>
              </a>
            </li>
          </ul>
        </div>
        <section class="introduction__section introduction">
          <h2 class="introduction__title">Я здесь впервые</h2>
          <div class="introduction__image">
            <img src="/uploads/introduction/01.jpeg" alt="image">
          </div>
          <div class="introduction__info">
            <div class="introduction__bible">
              <h3 class="introduction__heading">Библия. Во что мы верим?</h3>
              <div class="introduction__content content-introduction">
                <div class="content-introduction__image">
                  <img src="/uploads/introduction/bible.jpeg" alt="Bible">
                </div>
                <div class="introduction__text">
                  <p>
                    Библия является самым лучшим бестселлером всех времен. Она переведена на многие языки мира и ее читают больше, чем какую – либо другую книгу. Несмотря на ее популярность, многие люди не знакомы с ней. Как появилась эта книга? Происходили ли события, описанные в Библии, на самом деле? Эта статья отвечает на несколько таких простых вопросов, и мы надеемся, что это поможет Вам лучше понять Библию.
                  </p>
                </div>
              </div>
            </div>
            <div class="introduction__facts facts-introduction">
              <h4 class="facts-introduction__title">Факты о Библии:</h4>
              <div class="facts-introduction__text introduction__text">
                <p>
                  Библия – это собрание, состоящее из 66 книг. Слово «Библия» происходит от греческого слова «книги». Писание, еще одно слово, которое употребляется для описания Библии.
                  Библия написана более 40 авторами за период в 1600 лет. Среди некоторых известных авторов Библии – Моисей, Давид, Соломон и апостолы Петр, Павел и Иоанн.
                  Библия делится на Ветхий и Новый Заветы. Завет – это особенный Божий завет с еврейским народом, а Новый Завет – это новый Божий завет, основанный на личности и работе Иисуса Христа.
                  Книги Ветхого Завета были написаны между 1400 и 430 гг. до н.э. Эти книги были собраны в коллекцию, которая называется «канон», приблизительно за 300 лет до рождения Христа.
                  Новый Завет был написан между 40 и 90 гг. н.э. Ранняя церковь признала эти материалы как «Писание», но официально они были собраны в канон лишь в IV веке.
                  Библия не составлена в хронологическом порядке, поэтому ее чтение иногда может быть сложным. В ней сгруппированы разные книги по типу писания, например, книги закона, исторические, поэтические.
                </p>
              </div>
            </div>
          </div>
          <div class="introduction__items">
            <div class="introduction__item item-introduction">
              <h4 class="item-introduction__title">«Виноградник» верит в то, что Библия была написана людьми, но вдохновлена Богом.</h4>
              <div class="item-introduction__quote">
                <p>
                  «Все Писание богодухновенно и полезно для научения, для обличения, для исправления, для наставления в праведности»
                  <span class="item-introduction__quote--important">Второе послание к Тимофею 3:16</span>.
                </p>
              </div>
              <div class="item-introduction__text introduction__text">
                <p>
                  В греческом оригинале написано буквально «выдыхать» и это связано напрямую с идеей, что написание Библии было направлено Святым Духом. Петр ссылается на это, когда он пишет:
                </p>
              </div>
              <div class="item-introduction__quote">
                <p>
                  «зная прежде всего то, что никакого пророчества в Писании нельзя разрешить самому собою. Ибо никогда пророчество не было произносимо по воле человеческой, но изрекали его святые Божии человеки, будучи движимы Духом Святым»
                  <span class="item-introduction__quote--important">2 Петра 1:20-21</span>.
                </p>
              </div>
              <div class="item-introduction__text introduction__text">
                <p>
                  Именно поэтому христиане часто называют Библию Словом Божьим. В то же самое время, настоящие исторические личности в разные исторические времена написали разные книги Библии, Библия не просто упала с небес, но она является как естественной, так и сверхъестественной книгой, продуктом человеческой и Божьей работы. Каким-то образом Бог направлял этих авторов писать то, что Он хотел, чтобы мы знали о христианской вере и традициях.
                </p>
              </div>
            </div>
            <div class="introduction__item item-introduction">
              <h4 class="item-introduction__title">«Виноградник» верит в то, что Библия – это откровение.</h4>
              <div class="item-introduction__text introduction__text">
                <p>
                  Бог открывает Себя мужчинам и женщинам через откровение, такое как красота творения, личность Его Сына Иисуса Христа и через страницы Библии. Это значит, что истина, находящаяся на страницах Библии, пришла не благодаря человеческим усилиям, их исследованиям или размышлениям. Бог открыл эту истину авторам Библии. Без откровения невозможно поистине познать Бога.
                </p>
              </div>
            </div>
            <div class="introduction__item item-introduction">
              <h4 class="item-introduction__title">«Виноградник» верит в то, что Библия достоверна.</h4>
              <div class="item-introduction__text introduction__text">
                <p>
                  Все, во что верят христиане, основано на Библии. Таким образом, необходимо определить, является ли Библия достоверной. Однако невозможно рассмотреть этот вопрос детально в этой статье. Можно сказать о том, что существует достаточное количество доказательств, подтверждающих достоверность Библии, особенно когда Библия сравнивается с другими документами древности. Мы, как христиане, можем быть уверенными в том, что то, что было написано в оригинале, сохранилось и точно передавалось на протяжении многих веков. Новые находки в археологии продолжают подтверждать истинность Библии. Критика, направленная против достоверности Библии, не столько связано с противоречиями, неточностями или явными ошибками, сколько с предубеждениями, направленными против сверхъественного. Такая критика иногда ссылается на любое сверхъестественное явление в Библии как миф, легенду или фольклор.
                </p>
              </div>
            </div>
            <div class="introduction__item item-introduction">
              <h4 class="item-introduction__title">«Виноградник» верит в то, что Библия имеет власть.
              </h4>
              <div class="item-introduction__text introduction__text">
                <p>
                  Библия – это не просто книга, полная хороших и полезных идей. Это Слово Бога и потому, что Бог- создатель и Царь,то что Он говорит, имеет власть. Библия имеет власть в жизни христиан, точно также как дорожно-патрульная служба имеет власть над водителем. В «Винограднике» мы верим, что Библия имеет конечную власть в том, во что мы верим (доктрина) и в том как мы должны жить (практика). По сравнению с некоторыми христианскими деноминациями, в «Винограднике» никакой человек или традиция не приравниваются или не обладают большей властью, чем Библия.
                </p>
              </div>
            </div>
          </div>
          <div class="introduction__items item-introduction">
            <div class="introduction__item item-introduction">
              <h4 class="item-introduction__title">«Как начать читать Библию?</h4>
              <div class="item-introduction__text introduction__text">
                <p>
                  Важно, чтобы христиане читали Библию каждый день. Именно таким образом, Вы сможете расти и становиться духовно зрелыми, и узнаете, как Бог говорит к Вам. Вот несколько советов:
                </p>
                <ol class="item-introduction__list list">
                  <li class="list__item">
                    Найдите современный перевод Библии, который легче читать и понимать.
                  </li>
                  <li class="list__item">
                    Начните читать Евангелия, которые рассказывают историю жизни Иисуса.
                  </li>
                  <li class="list__item">
                    Начните читать по главе или по две главы в день в зависимости от того, сколько вы можете осилить.
                  </li>
                  <li class="list__item">
                    Найдите план чтения Библии, чтобы систематически прочитывать Библию один раз в год.
                  </li>
                  <li class="list__item">
                    Найдите учебную Библию, которая включает полезную информацию о каждой книге и это поможет Вам понять то, что Вы читаете.
                  </li>
                </ol>
              </div>
            </div>
            <div class="introduction__item item-introduction">
              <h4 class="item-introduction__title">В заключении</h4>
              <div class="item-introduction__text introduction__text">
                <p>
                  Надеемся, что это небольшая статья ответила на некоторые из Ваших вопросов о Библии и дала Вам несколько советов о том, как начать читать Библию самому. Если вы заинтересованы получить больше информации, пожалуйста, присоединяйтесь к одной из наших домашних групп или семинаров, которые мы предлагаем в нашей церкви.
                </p>
              </div>
            </div>
          </div>
          <app-relationship-page></app-relationship-page>
          <app-expectation-page></app-expectation-page>
          <app-baptism-page></app-baptism-page>
          <app-became-christian-page></app-became-christian-page>
        </section>
      </div>
  </main>
  <app-navbar
    class="sidebar"
  ></app-navbar>
</div>
