<div class="wrapper">
  <main class="main">
      <div class="main__container">
        <div class="main__header">
          <h1 class="main__title">
            <span class="main__title-custom">Виноградник</span> церковь
          </h1>
          <ul class="social__media-icons">
            <li>
              <a href="Tel:+79135302209">
                <i class="material-icons">call</i>
              </a>
            </li>
            <li>
              <a href="mailto:vinogradnikchurch@gmail.com">
                <i class="material-icons">mail</i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@user-be3qy1xt8h/videos">
                <i class="material-icons">video_library</i>
              </a>
            </li>
          </ul>
        </div>
        <section class="our-values__section our-values">
          <h2 class="our-values__title">Наши ценности</h2>
          <div class="our-values__image">
            <img src="/uploads/our-values/01.jpeg" alt="image">
          </div>
          <div class="our-values__info info-our-values">
            <div class="info-our-values__text">
              <p>
                Каждая церковь «Виноградник» по-своему уникальна, но в то же время есть у нас и общие факторы, которые определяют нас как движение — это наши ценности.
                Эти ценности описывают важные аспекты «Виноградника», которые объясняют, кто мы и почему мы делаем то, что делаем.
                Ценности – это не символ веры, не цели церкви и не ее личный стиль. Ценности нельзя увидеть невооруженным взглядом.
              </p>
            </div>
            <div class="info-our-values__quote quote-our-values">  
              <h3 class="quote-our-values__title">Основатель движения «Виноградник» Джон Уимбер:</h3>
              <div class="quote-our-values__text quote__text">
                <p>
                  "То, на что мы посвящаем наше время, энергию и деньги, отражает наши истинные ценности, которые мы проживаем, в независимости от того, что мы называем нашими ценностями".
                </p>
              </div>
            </div>
          </div>
          <div class="our-values__items">
            <div class="our-values__item item-values">
              <h4 class="item-values__title">1. Библия</h4>
              <div class="item-values__image">
                <img src="/uploads/our-values/001.jpeg" alt="image">
              </div>
              <div class="item-values__quote">
                <p>
                  "Ибо слово Божие живо и действенно и острее всякого меча обоюдоострого: оно проникает до разделения души и духа, составов и мозгов, и судит помышления и намерения сердечные."
                  <span class="item-values__quote-important">Послание к Евреям 4:12</span>.
                </p>
              </div>
              <div class="item-values__text">
                <p>
                  Мы ценим Слово Божье. Мы верим, что Дух Святой вдохновил авторов Библии, поэтому в ее оригинальных манускриптах нет ошибок. Книги Ветхого и Нового Завета обладают абсолютной властью, единственное правило для нашей веры и жизни. Мы стремимся не только слышать слово, но быть и «делателями Слова». Мы хотим быть послушными тому, что написано в Библии, чтобы становится более похожими на Христа.
                </p>
              </div>
            </div>
            <div class="our-values__item item-values">
              <h4 class="item-values__title">2. Божье Царство</h4>
              <div class="item-values__image">
                <img src="/uploads/our-values/02.jpeg" alt="">
              </div>
              <div class="item-values__text">
                <p>
                  Царство переводится с греческого "basileia" в Новом завете и обозначает "Правление Царя". Через крест Иисус победил зло и установил свое правление.
                  Царство – это динамичное правление Бога. Бог обладает абсолютной властью на небе; на земле Он активно проявляет свое правление через тех, кто желает этого.
                  Мы сталкиваемся с дилеммой, потому что господство Иисуса Христа еще не полностью установилось на земле. Поэтому мы живем во времени между его первым приходом и вторым – полным приходом Царства. Несмотря на то, что мы живем в несовершенном мире, мы все равно, пока еще правда частично, испытываем правление Иисуса и правление Его Царства здесь на земле. Мы стремимся жить в присутствии знамений Царства, когда мы испытываем могущественное присутствие Духа Святого, служим в Его дарах и видим, как Бог приносит исцеление и совершает чудеса сегодня.
                </p>
              </div>
            </div>
            <div class="our-values__item item-values">
              <h4 class="item-values__title">3. Отношения</h4>
              <div class="item-values__image">
                <img src="/uploads/our-values/03.jpeg" alt="">
              </div>
              <div class="item-values__quote">
                <p>
                  Иисус сказал ему: «возлюби Господа Бога твоего всем сердцем твоим и всею душею твоею и всем разумением твоим», - сия есть первая и наибольшая заповедь; вторая же подобная ей: «возлюби ближнего твоего, как самого себя»; на сих двух заповедях утверждается весь закон и пророки.
                  <span class="item-values__quote-important">Евангелие от Матфея 22:37-40</span>.
                </p>
              </div>
              <div class="item-values__text">
                <p>
                  Сущность христианства – отношения. Когда фарисеи спросили Иисуса: «Учитель, которая из заповедей является самой главной?» Иисус определил ценность отношений следующим образом: любить Бога, то есть иметь отношения с Богом, а также любить ближнего своего, соответственно, иметь отношения с ближними.
                  Мы были созданы по образу и подобию Божьему, потому что основная цель нашего существования – иметь отношения с Богом.
                </p>
              </div>
            </div>
            
            <div class="our-values__item item-values">
              <h4 class="item-values__title">4. Ценность личности</h4>
              <div class="item-values__image">
                <img src="/uploads/our-values/04.jpeg" alt="">
              </div>
              <div class="item-values__text">
                <p>
                  Каждый человек ценен. Каким образом это проявляется в нашей церкви? Мы хотим быть похожими на Христа, а значит иметь благодать. «Благодать» — это греческое слово “kharis” и оно значит: «незаслуженное благоволение Божье». В Библии есть доказательство того, что благодать была центральной ценностью в ранней церкви. (Деяния 11:23).
                </p>
              </div>
              <ol class="item-values__list list">
                <li class="list__item">
                  давать свободу человеку. Свободу для принятия Бога и полного подчинения Ему;
                </li>
                <li class="list__item">
                  право на совершение ошибок. Благодать говорит: «ты ценен, потому что ты есть, а не потому, что ты можешь сделать что-то, твоя ценность неизменна»;
                </li>
                <li class="list__item">
                  относится к человеку с достоинством и уважением;
                </li>
                <li class="list__item">
                  иметь веру, что у каждого человека есть место в церкви. Мы верим, что к служению призваны не несколько избранных человек, но каждый может найти свое место в Теле Христовом;
                </li>
                <li class="list__item">
                  иметь сострадание и милость к нуждающимся.
                </li>
              </ol>
            </div>

            <div class="our-values__item item-values">
              <h4 class="item-values__title">5. Господство Иисуса Христа</h4>
              <div class="item-values__image">
                <img src="/uploads/our-values/05.jpeg" alt="">
              </div>
              <div class="item-values__quote">
                <p>
                  "И все покорил под ноги Его, и поставил Его выше всего, главою Церкви, которая есть Тело Его, полнота Наполняющего все во всем."
                  <span class="item-values__quote-important">Послание к Ефесянам 1:22-23</span>.
                </p>
              </div>
              <div class="item-values__text">
                <p>
                  Иисус задает нам цель и направление. Он все держит под Своим контролем. Но лидерство Иисуса отличается от лидерства, которое мы привыкли видеть в мире. Иисус был слугой.
                </p>
              </div>
              <div class="item-values__quote">
                <p>
                  Он будучи образом Божиим, не почитал хищением быть равным Богу; но уничижил Себя Самого, приняв образ раба сделавшись подобным человекам и по виду став как человек.
                  <span class="item-values__quote-important">Послание к Филиппийцам 2:6-7</span>.
                </p>
              </div>
              <div class="item-values__text">
                <p>
                  Мы ценим Христоподобие. Мы желаем, чтобы через силу Духа Святого любовь, милость, благодать, истина, чистота, сила Иисуса проявлялась в наших жизнях во всем кем мы являемся, и что мы делаем.
                </p>
              </div>
            </div>

            <div class="our-values__item item-values">
              <h4 class="item-values__title">6. Поклонение</h4>
              <div class="item-values__image">
                <img src="/uploads/our-values/06.jpeg" alt="">
              </div>
              <div class="item-values__quote">
                <p>
                  Но настанет время, и настало уже, когда истинные поклонники будут поклоняться Отцу в духе и истине, ибо таких поклонников Отец ищет Себе.
                  <span class="item-values__quote-important">Евангелие от Иоанна 4:23</span>.
                </p>
              </div>
              <div class="item-values__text">
                <p>
                  Мы желаем поклоняться Богу всем сердцем, всей душой и разумением. Мы хотим, чтобы Иисус был нашим Господом и Спасителем. Мы хотим, чтобы наше поклонение Ему было наполнено Духом Святым, помогало приблизиться к Богу, было современным выражением в нашей культуре и жизнеизменяющим.
                  Поклонение – это не просто исполнение песен в воскресение, но это стиль жизни. Жить таким образом, чтобы это прославляло Бога в том, как мы относимся к другим людям на работе, дома и на учебе.
                  В нашем поклонении мы стремимся к близости с Богом, честности в отношениях с Ним и доступности наших песен.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
  </main>
  <app-navbar
    class="sidebar"
  ></app-navbar>
</div>
