<div class="wrapper">
  <main class="main">
      <div class="main__container">
        <div class="main__header">
          <h1 class="main__title">
            <span class="main__title-custom">Виноградник</span> церковь
          </h1>
          <ul class="social__media-icons">
            <li>
              <a href="Tel:+79135302209">
                <i class="material-icons">call</i>
              </a>
            </li>
            <li>
              <a href="mailto:vinogradnikchurch@gmail.com">
                <i class="material-icons">mail</i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@user-be3qy1xt8h/videos">
                <i class="material-icons">video_library</i>
              </a>
            </li>
          </ul>
        </div>
        <section class="baptism__section baptism" id="baptism">
          <h2 class="baptism__title title-header _anim-items _anim-no-hide">Крещение</h2>
          <div class="baptism__image _anim-items _anim-no-hide">
            <img src="/uploads/baptism/01.jpeg" alt="image">
          </div>
          <div class="baptism__info _anim-items _anim-no-hide">
            <p>
              Первая история об Иисусе, как о взрослом, в Евангелиях – это история Его крещения. Последнее, что сказал Иисус Своим ученикам, прежде чем Он вознесся на небеса – это то, что они должны идти по всему миру, научая других и крестя их. Очевидно, что крещение является чем-то важным в Новом Завете.
            </p>
            <p>
              Крещение – это вопрос, по которому христиане не всегда согласны между собой. В «Винограднике» мы рассматриваем это как вторичный вопрос, позволяя истинным верующим не соглашаться по этому вопросу. Тем не менее, мы пытаемся быть верными Библии и тому, что делала церковь исторически. Вот как мы ответили бы на самые распространенные вопросы о крещении:
            </p>
          </div>
          <div class="baptism__items">
            <div class="baptism__item item-baptism _anim-items _anim-no-hide">
              <h3 class="item-baptism__title">Почему мне нужно креститься?</h3>
              <div class="item-baptism__text">
                <p>
                  Вам не нужно креститься, чтобы спастись. Новый завет учит тому, что человек спасается только покаянием в грехах и верою в Иисуса Христа.
                </p>
              </div>
              <div class="item-baptism__quote">
                <p>
                  «Покайтесь, и да креститься каждый из вас во имя Иисуса Христа для прощения грехов; и получите дар Святаго Духа»
                  <span>Деяния 2:38</span>
                </p>
              </div>
              <div class="item-baptism__text">
                <p>
                  В Луки 23, вор на кресте признает Иисуса за того, кто Он на самом деле есть, и Иисус обещает ему спасение. У того умирающего вора не было возможности креститься.
                </p>
                <p>
                  Вам необходимо креститься, чтобы быть послушными Иисусу. «Итак идите, научите все народы, крестя их во имя Отца и Сына и Святаго Духа» (Матфея 28:19). Поэтому мы не крестимся, когда мы захотим, или когда мы «почувствуем, что нас ведет Господь» в этом. Крещение – это одно из двух таинств, которые Иисус сказал нам соблюдать всегда.
                </p>
              </div>
            </div>
            <div class="baptism__item item-baptism _anim-items _anim-no-hide">
              <h3 class="item-baptism__title">Крещение - единение со Христом.</h3>
              <div class="item-baptism__text">
                <p>
                  Крещение – это публичное исповедание Вашей веры. Крещение проводится перед группой людей, которые являются свидетелями вашего исповедания веры в Иисуса Христа. Крещение- это не единственный способ заявить то, что мы являемся христианами, но это очень важный способ.
                </p>
                <p>
                  Крещение символизирует очищение от греха. Крещение в Новом Завете обозначает, что человек «покаялся» и отвернулся от греха. Апостолы зачастую ссылались на тот факт, что верующие были омыты от греха. Петр говорит, что вода при крещении символизирует не очищение тела от грязи, но очищение нашей совести (1 Петра 3:21).
                </p>
                <p>
                  Крещение символизирует единение со Христом в Его смерти, погребении и воскресении.
                </p>
                <p>
                  Когда Вы становитесь христианином, Вы умираете для греха и вашего старого образа жизни, и вы начинаете совершенно новую жизнь. Римлянам 6:8 заявляет: «Если же мы умерли со Христом, то веруем, что и жить будем с Ним». Сам факт крещения (погружение в воду и поднятие из воды) – это символ того, что с Вами происходит.
                </p>
              </div>
            </div>
          </div>
          <div class="baptism__items">
            <div class="baptism__item item-baptism _anim-items _anim-no-hide">
              <h3 class="item-baptism__title">Как мне креститься?</h3>
              <div class="item-baptism__text">
                <p>
                  «Виноградник» верит в то, что люди должны креститься погружением в воду. Термин «креститься» буквально обозначает «погружаться». Именно так крещение описывается в Библии. Также погружение лучше всего символизирует то, что происходит с нами, когда мы становимся христианами.
                </p>
              </div>
              <h3 class="item-baptism__title">Когда мне стоит креститься?</h3>
              <div class="item-baptism__text">
                <p>
                  Вам необходимо креститься, как только Вы лично доверитесь Христу и «родитесь свыше». Помните, что Вы не креститесь, чтобы стать христианином. Вы креститесь, потому что Вы – христианин. Вы не должны откладывать крещение, потому что Иисус заповедует нам принимать крещение.
                </p>
              </div>
              <h3 class="item-baptism__title">Должен ли я вновь принять крещение, если я крестился в другой церкви?</h3>
              <div class="item-baptism__text">
                <p>
                  Если Вы были рождены свыше при первом крещении, и если церковь, в которой Вы принимали крещение, была христианской, тогда вновь принимать крещение не надо. Однако если крещение было просто церковным ритуалом, совершенным до Вашего обращения или в церкви, которая не принадлежит христианскому течению, тогда мы ободряем Вас креститься.
                </p>
              </div>
            </div>
            <div class="baptism__item item-baptism _anim-items _anim-no-hide">
              <h3 class="item-baptism__title">А что если я крестился, будучи младенцем?</h3>
              <div class="item-baptism__text">
                  <p>
                    Среди ортодоксальных христиан есть разные взгляды на крещение младенцев. Некоторые деноминации и традиции (Православные, Епископальные, Пресвитерианские и Католические) крестят младенцев, в то время как другие (например, Баптисты) не делают этого. Возможно, вы были крещены еще будучи ребенком. Как Вы должны относиться к крещению? Конечно же, показать уважение к вашим родителям и их точке зрения, а также быть благодарными Богу за любое духовное влияние, которое они имели в Вашей жизни. Однако мы верим, что Библия учит тому, что крещение- это тот опыт, который следует за обращением. Поэтому если Вы не принимали крещение после того, как Вы обратились ко Христу, мы рекомендуем Вам принять крещение.
                  </p>
                  <p>
                    В «Винограднике» мы не крестим младенцев, как это делают некоторые деноминации и традиции. Вместо этого, мы посвящаем младенцев Господу и призываем родителей взять обязательство воспитывать своих детей для Христа. Мы делаем это на основании модели, которую видим в Писании, где младенцы посвящаются Господу: Самуил в Ветхом Завете (1 Царств 1:21-29) и Иисус в Новом Завете (Луки 2:21-24).
                  </p>
              </div>
              <h3 class="item-baptism__title">Могут ли креститься мои дети?</h3>
              <div class="item-baptism__text">
                  <p>
                    Да, если они понимают то, что они делают. «Виноградник» рекомендует, чтобы Вы подождали пока Вашим детям не исполниться 10 лет, чтобы они могли осознанно заявить о своей вере. Мы верим в то, что дети могут быть спасенными, но чем старше ребенок, тем лучше он понимает и тем более значимым для него будет крещение. Помните, что им не нужно креститься, чтобы стать христианами.
                  </p>
              </div>
            </div>
          </div>
          <app-button-top></app-button-top>
        </section>
      </div>
  </main>
  <app-navbar
    class="sidebar"
  ></app-navbar>
</div>