<div class="wrapper">
  <main class="main">
      <div class="main__container">
        <div class="main__header">
          <h1 class="main__title">
            <span class="main__title-custom">Виноградник</span> церковь
          </h1>
          <ul class="social__media-icons">
            <li>
              <a href="Tel:+79135302209">
                <i class="material-icons">call</i>
              </a>
            </li>
            <li>
              <a href="mailto:vinogradnikchurch@gmail.com">
                <i class="material-icons">mail</i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@user-be3qy1xt8h/videos">
                <i class="material-icons">video_library</i>
              </a>
            </li>
          </ul>
        </div>
        <section class="ministries__section ministries">
          <h2 class="ministries__title">Служения</h2>
          <!-- <ul id="tabs-swipe-demo" class="tabs" #tabs>
            <li class="tab col s3"><a class="active" href="#test-swipe-1">Прославления</a></li>
            <li class="tab col s3"><a href="#test-swipe-2">Проповеди</a></li>
          </ul>
          <div id="test-swipe-1" class="col s12">
            <div *ngFor="let sermon of sermons">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/${sermon.id.videoId}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>  
          </div>
          <div id="test-swipe-2" class="col s12">
            <div *ngFor="let worship of worships">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/${worship.id.videoId}"title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>  
          </div> -->
          <!-- <div *ngFor="let sermon of sermons">
            <iframe width="260" height="115" [src]="getSafeUrl(sermon.id.videoId)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>   -->
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Af9EIj6Ql4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
          
          <!-- <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a href="#test1" class="active">Проповеди</a></li>
                <li class="tab col s3"><a href="#test2">Прославления</a></li>
              </ul>
            </div>
            <div id="test1" class="col s12" *ngFor="let sermon of sermons">
              <iframe width="260" height="115" [src]="getSafeUrl(sermon.id.videoId)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div id="test2" class="col s12" *ngFor="let worship of worships">
              <iframe width="260" height="115" [src]="getSafeUrl(worship.id.videoId)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div> -->
        </section>
      </div>
  </main>
  <app-navbar
    class="sidebar"
  ></app-navbar>
</div>