<section class="expectation__section expectation" id="expectation">
  <h2 class="expectation__title title-header">Чего ожидать в церкви?</h2>
  <div class="expectation__image">
    <img src="/uploads/expectation/01.jpeg" alt="image">
  </div>
  <div class="expectation__items">
    <div class="expectation__item item-expectation">
      <h3 class="item-expectation__title">Что я могу ожидать на воскресном служении?</h3>
      <div class="item-expectation__text">
        <p>
          Мы понимаем, что посещение церкви в первый раз может быть необычным для Вас. Чтобы Ваш визит в Пермский «Виноградник» был приятен, мы хотим описать здесь то, что Вы можете ожидать при посещении церкви.
        </p>
        <p>
          Наше служение начинается ровно в 11 утра. В начале служения звучат объявления, после в течение получаса следует музыкальное поклонение, затем молитва. Если у Вас есть дети, то Вы можете привести их на детское служение, которое начинается после поклонения.
        </p>
        <p>
          После этого мы наслаждаемся учением, которое применяет Библейские истины к каждодневной жизни. Служение заканчивается временем служения, которое дает каждому возможность получить молитву.
        </p>
        <p>
          Многие люди остаются после служения для общения и чаепития.
        </p>
      </div>
    </div>
    <div class="expectation__item item-expectation">
      <h3 class="item-expectation__title">Как я могу поближе узнать «Виноградник»</h3>
      <div class="item-expectation__text">
        <p>
          На неделе мы предлагаем посетить одну из домашних групп, которые находятся в разных районах нашего города. Именно там мы знакомимся ближе друг с другом и можем служить друг другу. Расписание домашних групп можно узнать, связавшись с нами через WhatsApp.
        </p>
      </div>
      <h3 class="item-expectation__title">Как я могу креститься?</h3>
      <div class="item-expectation__text">
        <p>
          Вначале прочитайте нашу статью про Крещение.
        </p>
        <p>
          Если вы недавно посвятили свою жизнь Христу или никогда не принимали крещение, вы можете принять участие в ежегодном служении крещения, которое мы обычно проводим осенью. Вы можете подойти к пастору или команде лидеров и сообщить о своем желании принять крещение.
        </p>
      </div>
    </div>
  </div>
</section>