<section class="relationship__section relationship" id="relationship">
  <h2 class="relationship__title title-header">Как мне начать отношения с Богом?</h2>
  <div class="relationship__image">
    <img src="/uploads/relationship/01.jpeg" alt="image">
  </div>
  <div class="relationship__info relationship__text">
    <p>
      Многие люди ходят в церковь, потому что они ищут Бога. Возможно, именно поэтому Вы пришли в «Виноградник». Вы чувствуете, что вам чего-то не хватает в жизни. Знаменитый французский математик Паскаль сказал, что внутри каждого человека есть Богом созданная пустота, наполнить которую может один лишь Он. Бог желает иметь взаимоотношения с Вами и наполнить пустоту. Из этой статьи Вы можете узнать, как начать строить взаимоотношения с Богом сегодня.
    </p>
  </div>
  <div class="relationship__items">
    <div class="relationship__item item-relationship">
      <h3 class="item-relationship__title">1. Признайтесь, что Вы грешник и Вам нужен Спаситель</h3>
      <div class="item-relationship__text relationship__text">
        <p>
          В соответствии с Библией, грех (то, что мы делаем неправильно) отделяет нас от Бога и заставляет нас чувствовать пустоту. Наше естественное желание игнорировать Бога и делать то, что мы захотим. Наши два огромных греха заключаются в том, что мы не любим Бога всем сердцем и других, как самих себя.
        </p>
      </div>
      <div class="item-relationship__quote">
        <p>
          «Все мы блуждали, как овцы, совратились каждый на свою дорогу: и Господь возложил на Него грехи всех нас»
          Книга пророка Исайи 53:6
        </p>
      </div>
      <div class="item-relationship__quote">
        <p>
          «Но беззакония ваши произвели разделение между вами и Богом вашим, и грехи ваши отвращают лице Его от вас, чтобы не слышать»
          Книга пророка Исайи 59:2
        </p>
      </div>
    </div>
    <div class="relationship__item item-relationship">
      <h3 class="item-relationship__title">2. Поверьте, что Иисус умер на кресте</h3>
      <div class="item-relationship__text relationship__text">
        <p>
          Верьте в то, что Иисус умер на кресте, чтобы спасти нас от грехов, что Он воскрес из мертвых и сегодня жив. Вместо того, чтобы заставить нас расплачиваться за наш грех, Бог позволил Иисусу заплатить за наш грех – наказание, которое было нашим по праву. Он сделал это, потому что любит нас.          .
        </p>
      </div>
      <div class="item-relationship__quote">
        <p>
          «Ибо так возлюбил Бог мир, что отдал Сына Своего Единородного, дабы всякий верующий в Него, не погиб, но имел жизнь вечную»
          Евангелие от Иоанна 3:16
        </p>
      </div>
    </div>
  </div>

  <div class="relationship__items">
    <div class="relationship__item item-relationship">
      <h3 class="item-relationship__title">3. Примите дар Божьего спасения</h3>
      <div class="item-relationship__text relationship__text">
        <p>
          Бог предлагает нам прощение грехов даром. Но оно не является нашим, до тех пор, пока мы его не примем. Не пытайтесь заслужить его, потому что вы не сможете сделать это собственными силами. Ничто не сможет сделать нас хорошими в глазах Бога. Просто примите то, что Он сделал для Вас.
        </p>
      </div>
      <div class="item-relationship__quote">
        <p>
          «Ибо благодатью вы спасены через веру, и сие не от вас, Божий дар: не от дел, чтобы никто не хвалился»
          Послание к ефесянам 2:8-9
        </p>
      </div>
    </div>
    <div class="relationship__item item-relationship">
      <h3 class="item-relationship__title">4. Подчините Вашу жизнь Христу</h3>
      <div class="item-relationship__text relationship__text">
        <p>
          Подчините Вашу жизнь Христу, пригласив Его стать Господином Вашей жизни и Спасителем. Подчиниться Иисусу значит отдать контроль над Вашей жизнью в Его руки. И когда вы сделаете это, Он придет через Духа Святого и наполнит вашу пустоту. Иисус называет это рождением свыше. Это начало новой жизни.
        </p>
      </div>
      <div class="item-relationship__quote">
        <p>
          «Иисус сказал ему в ответ: истинно, истинно говорю тебе, если кто не родится свыше, не может увидеть Царствия Божия»
          Евангелие от Иоанна 3:3
        </p>
      </div>
      <div class="item-relationship__quote">
        <p>
          «Итак, кто во Христе, [тот] новая тварь; древнее прошло, теперь все новое»
          Второе послание к коринфянам 5:17
        </p>
      </div>
    </div>
  </div>

  <div class="relationship__example relationship-example">
    <h3 class="relationship-example__title">Вот пример молитвы, которой Вы можете помолиться:</h3>
    <div class="relationship-example__text relationship__text">
      <p>
        Дорогой Господь, я признаю, что я грешник. Я не делаю того, что надо делать и делаю то, чего не надо. Я не люблю тебя всем сердцем и своего ближнего как самого себя. Прости меня за мои грехи и за то, что я шел своим путем. Спасибо Тебе за Твою любовь и за то, что Ты послал Иисуса, который умер за меня. Я верю, что Он занял мое место, пострадал от наказания, которое я заслужил, воскрес из мертвых и сегодня жив. Я принимаю дар прощения прямо сейчас. Иисус, я отдаю свою жизнь тебе и прошу, чтобы Ты пришел в мое сердце и жил там вечно – будь моим Спасителем и Господом. Я хочу следовать за Тобой. Аминь.
      </p>
    </div>
  </div>
</section>